// Product
// ------------------------------------------------------------------- //
.product-container {
  font-family: "Montserrat";

  .more-content-heading {
    font-size: 20pt;
    padding-bottom: 2rem;
    border-bottom: 2px solid rgba(147, 112, 219, 0.24);
    margin-bottom: 2rem;
  }
}

// Product Item
// ---------------------------------------- //
.productItem-container {
  display: flex;
  justify-content: space-between;
  padding-bottom: 2rem;
  border-bottom: 2px solid rgba(147, 112, 219, 0.24);
  margin-bottom: 2rem;

  .productItem-content {
    display: flex;
    max-width: 700px;
    flex-direction: column;

    .productItem-heading {
      display: flex;
      justify-content: space-between;
      .product-title {
        font-size: 20pt;
      }
      .product-number {
        font-size: 20pt;
      }
    }

    .productItem-stats {
      margin-top: 1rem;
      font-size: 12pt;
      div {
        margin-top: 0.2rem;
      }
    }

    .productItem-description {
      margin-top: 1rem;
      font-size: 12pt;
      font-weight: 300;
      opacity: 0.5;
    }

    & .product-subtitle {
      text-transform: uppercase;
    }

    & .product-subtext {
      font-size: 10pt;
      text-transform: uppercase;
      font-weight: bold;
    }

    .productItem-origins {
      margin-top: 2rem;
      display: flex;

      .productItem-artist-pic {
        img {
          height: 50px;
          padding-right: 1rem;
        }
      }

      .product-artist-info {
        font-size: 12pt;
        display: grid;
        font-size: 12pt;
        height: 50px;
        grid-template-rows: 1fr 1fr;
      }

      .product-location {
        margin-left: 3rem;
        font-size: 12pt;
        height: 50px;
        display: grid;
        grid-template-rows: 1fr 1fr;
      }
    }

    .productItem-about-artist {
      font-size: 12pt;
      margin-top: auto;

      .productItem-artist-description {
        margin-top: 0.5rem;
        font-size: 12pt;
        font-weight: 300;
        opacity: 0.5;
      }
    }
  }

  .productItem-photo {
    background: #1a1a1a;
    margin-left: 2rem;
    min-width: 500px;
    height: 500px;

    .fullscreen-icon {
      position: absolute;
      right: 1rem;
      top: 1rem;
      img {
        height: 30px;
      }
    }
  }
}

// Main Seller
// ---------------------------------------- //
.mainSeller-container {
  padding-bottom: 2rem;
  border-bottom: 2px solid rgba(147, 112, 219, 0.24);
  margin-bottom: 3rem;
  .mainSeller-heading {
    font-size: 20pt;
  }
  .mainSeller-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    background-image: linear-gradient(
      -130deg,
      #5271c4 0%,
      #b19fff 10%,
      rgba(236, 161, 254, 0.5) 25%,
      #fafafa 50%
    );

    .mainSeller-seller {
      .mainSeller-artist {
        display: flex;
        align-items: center;
        img {
          height: 100px;
        }
        .mainSeller-info {
          margin-left: 1.5rem;
          .mainSeller-artist-name {
            font-size: 16pt;
            font-weight: bold;
          }

          .mainSeller-artist-location {
            margin-top: 0.2rem;
            font-size: 10pt;
            text-transform: uppercase;
          }
        }
      }
    }

    .break {
      height: 60px;
      width: 1px;
      background: rgba(147, 112, 216, 0.5);
    }

    .mainSeller-price {
      font-size: 18pt;
    }

    .mainSeller-action {
      background: #1a1a1a;
      padding: 1rem;
      width: 9rem;
      text-align: center;
      margin-right: 3rem;
      color: white;
      text-transform: uppercase;
      font-size: 12pt;
    }
  }
}

// Seller List
// ---------------------------------------- //
.sellerList-container {
  padding-bottom: 2rem;
  .sellerList-heading {
    font-size: 20pt;
  }
  .sellerList-content {
    position: relative;
    max-height: 30rem;
    overflow: scroll;
  }
}

// Seller Item
// ---------------------------------------- //
.sellerItem-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
  border-bottom: 2px solid rgba(147, 112, 219, 0.24);

  &:last-child {
    border-bottom: none;
  }

  .sellerItem-print-number {
    font-size: 16pt;
    font-weight: bold;
  }

  .sellerItem-print-dimensions {
    font-size: 12pt;
  }

  .sellerItem-print-materials {
    font-size: 10pt;
    text-transform: uppercase;
  }

  .break {
    height: 60px;
    width: 1px;
    background: rgba(147, 112, 216, 0.5);
  }

  .sellerItem-price {
    font-size: 18pt;
  }

  .sellerItem-action {
    background: #1a1a1a;
    padding: 1rem;
    width: 9rem;
    text-align: center;
    margin-right: 3rem;
    color: white;
    text-transform: uppercase;
    font-size: 12pt;
  }
}
