// Account
// ------------------------------------------------------------------- //
.account-container {
  position: relative;
  width: calc(100% - 24rem);
  background: #f4f7fb;
  box-shadow: 5px 15px 30px -10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 3rem;
  margin: 2rem;
  margin-left: 22rem;
  animation: fadeIn 0.6s;
}
.account-title {
  font-size: 3rem;
  font-weight: bold;
  opacity: 0.6;
  margin-bottom: 4rem;
}
.account-form {
  .form-section {
    margin-bottom: 8rem;

    .section-title {
      font-size: 1.6rem;
      font-weight: bold;
      opacity: 0.6;
      padding-bottom: 1rem;
      border-bottom: 2px solid #ebebeb;
      margin-bottom: 2rem;
    }

    .input-title {
      font-size: 1.2rem;
      margin-bottom: 1rem;
      opacity: 0.6;
    }
    .input-field {
      background: #1a1a1a;
      border: none;
      min-height: 4rem;
      width: 100%;
      color: rgba(255, 255, 255, 1);
      font-size: 1.4rem;
      padding: 1rem;
      border-radius: 10px;
      text-transform: capitalize;
      opacity: 0.7;
    }
  }
}

// My Details
// ---------------------------------------- //
.person-details-container {
  display: flex;
  justify-content: space-between;

  .display-picture {
    position: relative;
    & > img {
      height: 15rem;
      width: 15rem;
      object-position: center center;
      object-fit: cover;
      border-radius: 50%;
      border: #ebebeb 1px solid;
    }

    .edit {
      position: absolute;
      background-image: linear-gradient(
        45deg,
        #081c69 0%,
        #44159b 50%,
        #770fc6 100%
      );
      bottom: 0;
      right: 0;
      width: 4rem;
      height: 4rem;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 10px;
      img {
        height: 2rem;
        cursor: pointer;
      }
    }
  }

  .name {
    margin-left: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .input-wrapper {
      width: 20rem;
    }
  }

  .bio {
    width: 100%;
    margin-left: 4rem;

    .input-wrapper {
      height: 100%;
      display: flex;
      flex-direction: column;

      textarea {
        resize: none;
        height: 100%;
      }
    }
  }
}

@media screen and (max-width: 1099px) {
  .person-details-container {
    flex-wrap: wrap;
    justify-content: stretch;

    .name {
      flex: 1;
      .input-wrapper {
        width: 100%;
      }
    }

    .bio {
      margin-left: 0;
      margin-top: 2.5rem;
      height: 15rem;
    }
  }
}

.contact-information-container {
  display: flex;
  justify-content: space-between;

  .email {
    .input-wrapper {
      width: 39rem;
      .input-field {
        text-transform: lowercase !important;
      }
    }
  }

  .phone {
    width: 100%;
    margin-left: 4rem;
  }
}

@media screen and (max-width: 1099px) {
  .contact-information-container {
    .email {
      width: 100%;
      .input-wrapper {
        width: auto;
      }
    }
  }
}
@media screen and (max-width: 699px) {
  .contact-information-container {
    flex-direction: column;

    .phone {
      margin-top: 2.5rem;
      margin-left: 0;
    }
  }
}

.shipping-details-container {
  display: flex;
  justify-content: space-between;

  .shipping-wrapper-one {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .row-one {
      width: 39rem;
      margin-bottom: 2.5rem;
    }

    .row-two {
      display: flex;
      justify-content: space-between;

      .country {
        width: 100%;
      }
      .state {
        width: 100%;
        margin-left: 4rem;
      }
    }
  }

  .shipping-wrapper-two {
    width: 100%;
    margin-left: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .row-one {
      width: 100%;
      margin-bottom: 2.5rem;
    }

    .row-two {
      display: flex;
      justify-content: space-between;

      .city {
        width: 100%;
      }
      .zip {
        width: 100%;
        margin-left: 4rem;
      }
    }
  }
}

@media screen and (max-width: 1099px) {
  .shipping-details-container {
    .shipping-wrapper-one {
      width: 100%;
      .row-one {
        width: auto;
      }
    }
  }
}
@media screen and (max-width: 1099px) {
  .shipping-details-container {
    flex-direction: column;

    .shipping-wrapper-two {
      margin-top: 2.5rem;
      margin-left: 0;
    }
  }
}

.form-btn {
  display: flex;
  justify-content: flex-end;

  input {
    background-image: linear-gradient(
      45deg,
      #081c69 0%,
      #44159b 50%,
      #770fc6 100%
    );
    border-radius: 10px;
    color: white;
    border: none;
    padding-left: 4rem;
    padding-right: 4rem;
    font-size: 1.2rem;
    height: 4rem;
    font-weight: bold;
    cursor: pointer;
  }
}

// Small Devices
// ---------------------------------------- //
@media screen and (max-width: 699px) {
  .account-container {
    width: calc(100% - 12rem);
    margin-left: 12rem;
  }
}

// Side Menu
// ---------------------------------------- //
@import "./sidemenu";
