// Contact
// ------------------------------------------------------------------- //
#contact-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  // Contact Details Container
  // ---------------------------------------- //
  .contact-details-container {
    display: grid;
    grid-auto-flow: column;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    font-family: "Montserrat";
    background-image: linear-gradient(
      -120deg,
      #5271c4 0%,
      #b19fff 10%,
      rgba(236, 161, 254, 0.5) 25%,
      #fafafa 50%
    );
    padding: 3rem;
    grid-gap: 2rem;
    margin-bottom: 2rem;
    width: 100%;

    .phone-contact {
      .phone-contact-title {
        font-size: 1rem;
        text-transform: uppercase;
      }
      .phone-contact-text {
        font-size: 1.4rem;
        margin-top: 0.5rem;
      }
    }

    .fax-contact {
      .fax-contact-title {
        font-size: 1rem;
        text-transform: uppercase;
      }
      .fax-contact-text {
        font-size: 1.4rem;
        margin-top: 0.5rem;
      }
    }

    .address-contact {
      .address-contact-title {
        font-size: 1rem;
        text-transform: uppercase;
      }
      .address-contact-text {
        font-size: 1.4rem;
        margin-top: 0.5rem;
      }
    }

    .email-contact {
      .email-contact-title {
        font-size: 1rem;
        text-transform: uppercase;
      }
      .email-contact-text {
        font-size: 1.4rem;
        margin-top: 0.5rem;
      }
    }
  }

  // Contact Map Container
  // ---------------------------------------- //
  .contact-map-container {
    width: 100%;
    overflow: hidden;

    img {
      width: 100%;
    }
  }
}

// Small Devices
// ---------------------------------------- //
@media screen and (max-width: 699px) {
  #contact-container {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}
