// Loader
// ------------------------------------------------------------------- //
.loader {
  margin: 100px auto 100px;
  width: max-content;
  text-align: center;
  display: flex;
}

.loader > div {
  width: 1.4rem;
  height: 1.4rem;
  margin: 0.4rem;
  background-color: #333;
  border-radius: 100%;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.loader .bounce1 {
  animation-delay: -0.32s;
}

.loader .bounce2 {
  animation-delay: -0.16s;
}
