@tailwind preflight;
@tailwind components;

/* purgecss start ignore */

body {
    @apply flex flex-col min-h-screen h-full bg-grey-lightest font-sans antialiased text-black;
}

#root {
    @apply flex flex-col min-h-screen h-full;
}

.anchor {
    @apply no-underline text-blue-dark;
}

.anchor:hover {
    @apply underline text-blue-dark;
}

.main-content {
    flex: 1;
}

.hr {
    @apply my-4 border-t border-grey-light block;
}

.form-label {
    @apply block text-sm font-normal mb-2 font-semibold;
}

.form-group {
    @apply mb-4 block;
}

.form-input {
    @apply block appearance-none border rounded w-full py-3 px-4 bg-white;
}

.form-input:focus {
    @apply outline-none;
}

.form-select {
    @apply pr-8;
}

.form-search {
    @apply pl-8 py-2;
}

.form-text {
    @apply text-grey-dark text-xs mt-2;
}

.invalid-feedback {
    @apply text-red text-xs italic mt-2;
}

.primary-nav-link {
    @apply text-black no-underline text-lg py-1 inline-block;
}

.primary-nav-link:hover {
    @apply text-blue;
}

.primary-nav-link.active {
    @apply text-blue;
}

.sub-nav {
    @apply border-b border-grey-light;
}

.sub-nav-link {
    @apply text-black no-underline text-sm pb-3 inline-block mr-6 text-grey-darker;
    margin-bottom: -1px;
}

.sub-nav:hover {
    @apply text-blue;
}

.sub-nav-link.active {
    @apply text-black border-b border-black font-semibold;
}

.paginate {
    @apply text-blue mx-1;
}

.paginate:hover,
.paginate.active {
    @apply bg-blue border-blue text-white;
}

.btn {
    @apply inline-block align-middle text-center select-none border font-semibold whitespace-no-wrap py-2 px-6 rounded text-base leading-normal no-underline bg-white text-grey-darkest inline-flex;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn:hover {
    @apply bg-grey-lighter;
}

.btn:focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.btn:disabled {
    @apply opacity-50 cursor-not-allowed;
}

.btn-primary {
    @apply text-blue-lightest bg-blue;
}

.btn-primary:hover {
    @apply bg-blue-dark;
}

.btn-outline-primary {
    @apply text-blue-dark border-blue bg-white;
}

.btn-outline-primary:hover {
    @apply text-blue-lightest bg-blue;
}

.btn-secondary {
    @apply text-grey-lightest bg-grey;
}

.btn-secondary:hover {
    @apply bg-grey-dark;
}

.btn-outline-secondary {
    @apply text-grey-dark border-grey bg-white;
}

.btn-outline-secondary:hover {
    @apply text-grey-lightest bg-grey;
}

.btn-success {
    @apply text-green-lightest bg-green;
}

.btn-success:hover {
    @apply bg-green-dark;
}

.btn-outline-success {
    @apply text-green-dark border-green bg-white;
}

.btn-outline-success:hover {
    @apply text-green-lightest bg-green;
}

.btn-danger {
    @apply text-red-lightest bg-red;
}

.btn-danger:hover {
    @apply bg-red-dark;
}

.btn-outline-danger {
    @apply text-red-dark border-red bg-white;
}

.btn-outline-danger:hover {
    @apply text-red-lightest bg-red;
}

.btn-link {
    @apply font-normal border-transparent text-blue bg-transparent;
}

.btn-link:hover {
    @apply bg-transparent text-blue-dark underline;
}

.btn-sm {
    @apply py-1 px-2 text-sm;
}

.btn-lg {
    @apply py-3 px-4 text-xl;
}

.btn-block {
    @apply block w-full;
}

.alert {
    @apply relative px-3 py-3 mb-4 border rounded text-grey-darkest border-grey bg-grey-lighter;
}

.alert-success {
    @apply text-green-darkest border-green bg-green-lighter;
}

.alert-danger {
    @apply text-red-darkest border-red bg-red-lighter;
}

.dropzone {
    @apply border-dashed border-2 border-grey rounded py-6;
}

.dropzone:hover {
    @apply bg-white;
}

.dropzone.active {
    @apply bg-white;
}

/* purgecss end ignore */

@tailwind utilities;
