.auth-container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .auth-wrapper {
    width: 500px;
    border-radius: 10px;
    overflow: hidden;
    padding: 55px 55px 37px 55px;
    background-color: #9370db;

    .auth-form {
      width: 100%;

      .form-title {
        font-family: "Montserrat";
        font-size: 30px;
        color: #fff;
        line-height: 1.2;
        text-align: center;
        text-transform: uppercase;
        display: block;
        padding-top: 2rem;
        padding-bottom: 2rem;
      }

      .input-wrapper {
        width: 100%;
        position: relative;
        border-bottom: 2px solid rgba(255, 255, 255, 0.24);
        :focus {
          border-bottom: 2px solid rgba(255, 255, 255, 1);
          position: relative;
          top: 2px;
        }
        margin-bottom: 1rem;

        input {
          font-family: "Montserrat";
          font-size: 16px;
          color: #ffffff;
          line-height: 1.2;
          display: block;
          width: 100%;
          height: 45px;
          background: transparent;
          padding: 0 5px 0 5px;
          outline: none;
          border: none;

          &::placeholder {
            color: #ffffff;
          }

          &:focus {
            &::placeholder {
              color: rgba(255, 255, 255, 0);
            }
          }
        }
      }

      .form-btn {
        width: 100%;
        display: flex;
        justify-content: center;
        padding-top: 1rem;

        input {
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 0 20px;
          min-width: 120px;
          height: 50px;
          border-radius: 25px;
          background-color: #fff;
          top: 0;
          left: 0;
          opacity: 1;
          font-family: "Montserrat";
          font-size: 16px;
          color: #555555;
        }
      }

      .text-center {
        padding-top: 4rem;
        text-align: center;

        a {
          text-decoration: none;
          font-family: "Montserrat";
          font-size: 14px;
          color: #ffffff;
          line-height: 1.5;
        }
      }
    }
  }
}
