// Profile
// ------------------------------------------------------------------- //
#pikcha100-container {
  font-family: "Montserrat";

  .pikcha-container {
    display: flex;
    align-items: center;
    // justify-content: space-between;
    padding-bottom: 0.5rem;
    margin-bottom: 0.5rem;
    border-bottom: 2px solid rgba(147, 112, 219, 0.24);
    height: 16rem;

    &:last-child {
      border-bottom: none;
    }

    .pikcha-rank {
      font-weight: bold;
      font-size: 1.8rem;
    }

    .pikcha-photo {
      margin-left: 2rem;
      display: block;
      width: 12rem;
      height: 12rem;
      background: #1a1a1a;
      border-radius: 10px;
      overflow: hidden;

      img {
        height: 100%;
        width: 100%;
        object-position: center center;
        object-fit: cover;
        cursor: pointer;
      }
    }

    .pikcha-photo-information {
      margin-left: 2rem;

      .pikcha-photo-name {
        font-weight: bold;
        font-size: 1.2rem;
        text-transform: uppercase;
        margin-bottom: 0.5rem;
      }
      .pikcha-photo-views {
        font-size: 1rem;
      }
      .pikcha-photo-turnover {
        font-size: 1rem;
      }
      .pikcha-photo-avg-price {
        font-size: 1rem;
      }
      .pikcha-photo-location {
        font-size: 1rem;
      }
    }

    .pikcha-photo-graph {
      margin-left: auto;
      display: block;
      width: 8rem;
      height: 8rem;
      background: mediumpurple;
      border-radius: 10px;
    }

    .divider {
      margin-left: auto;
      margin-right: auto;
      width: 1px;
      height: 60px;
      background: mediumpurple;
    }

    .artist-picture {
      img {
        height: 6rem;
        width: 6rem;
        object-position: center center;
        object-fit: cover;
        border-radius: 50%;
        border: rgb(201, 201, 201) 2px solid;
        cursor: pointer;
      }
    }

    .artist-information {
      margin-left: 1.5rem;
      .artist-name {
        font-size: 1.6rem;
        font-weight: bold;
        margin-bottom: 0.3rem;
      }
      .artist-location {
        font-size: 0.8rem;
        text-transform: uppercase;
      }
    }
  }
}

// Small Devices
// ---------------------------------------- //
@media screen and (max-width: 899px) {
  #pikcha100-container {
    .pikcha-container {
      .pikcha-photo-graph {
        display: none;
      }
    }
  }
}
@media screen and (max-width: 699px) {
  #pikcha100-container {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}

@media screen and (max-width: 559px) {
  #pikcha100-container {
    .pikcha-container {
      .artist-information {
        display: none;
      }
    }
  }
}
