// About
// ------------------------------------------------------------------- //

.about-item {
  margin: auto;
  margin-top: 6rem;

  width: 100%;
  text-align: center;

  .about-title {
    font-size: 2rem;
    font-weight: bold;
  }
  .about-text {
    margin-top: 2rem;
    font-size: 1.4rem;
  }
}
