// Profile Dropdown
// ------------------------------------------------------------------- //
#profile-dropdown {
  position: absolute;
  top: 7rem;
  right: 1.6rem;
  width: max-content;
  z-index: 800;
  box-shadow: 5px 10px 30px -20px rgba(0, 0, 0, 1);

  .upload-container {
    background-image: linear-gradient(
      -130deg,
      #5271c4 0%,
      #b19fff 50%,
      rgba(236, 161, 254, 1) 100%
    );
    padding: 2rem;
    display: flex;
    align-items: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    cursor: pointer;

    img {
      height: 2rem;
      margin-right: 2rem;
    }

    .upload-button {
      color: white;
      font-family: "Montserrat";
      text-transform: uppercase;
      font-size: 1.2rem;
      padding-top: 1rem;
      padding-bottom: 0.8rem;
    }
  }

  .profile-dropdown-item {
    background: #fafafa;
    color: #1a1a1a;
    font-family: "Montserrat";
    text-transform: uppercase;
    font-size: 1.2rem;
    padding: 2rem;
    display: flex;
    align-items: center;

    a {
      color: #1a1a1a;
      text-decoration: none;
      margin-right: 3rem;

      &:hover {
        color: mediumpurple;
        cursor: pointer;
      }
    }

    &:first-child {
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
    }

    &:nth-child(1n) {
      border-top: rgba(147, 112, 216, 0.2) 1px solid;
    }

    &:last-child {
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
    }

    &:hover {
      color: mediumpurple;
    }

    img {
      height: 2rem;
      margin-right: 2rem;
    }
  }
}
// Small Devices
// ---------------------------------------- //
@media screen and (max-width: 699px) {
  #profile-dropdown {
    top: 7rem;
    right: 3rem;

    .profile-dropdown-item {
      font-size: 1.6rem;
      padding: 2rem;
    }
  }
}

// Cart Dropdown
// ------------------------------------------------------------------- //
#cart-dropdown {
  position: absolute;
  top: 5rem;
  right: 4rem;
  width: max-content;
  z-index: 800;
  box-shadow: 5px 10px 30px -20px rgba(0, 0, 0, 1);

  .cart-dropdown-item {
    background: #fafafa;
    color: #1a1a1a;
    font-family: "Montserrat";
    font-size: 1.4rem;
    padding: 2rem;
    display: flex;
    align-items: center;

    .cart-product-name {
      font-size: 1.2rem;
      text-transform: uppercase;
    }

    .cart-product-price {
      margin-left: 8rem;
    }

    .cart-product-remove {
      display: flex;
      position: relative;
      margin-left: 2rem;
      img {
        position: relative;
        &:hover {
          cursor: pointer;
        }
        height: 1.2rem;
      }

      &::after {
        content: "";
        position: absolute;
        background: mediumpurple;
        height: 30px;
        width: 1px;
        top: 0;
        bottom: 0;
        margin: auto;
        left: 0.5rem;
      }
    }

    .cart-total {
      margin-left: auto;
      font-size: 1.2rem;
    }

    .cart-checkout {
      padding: 1rem;
      padding-left: 2rem;
      padding-right: 2rem;
      background: mediumpurple;
      border-radius: 5px;
      color: white;
      margin-left: 2rem;
      font-size: 1rem;
      text-transform: uppercase;
    }

    &:first-child {
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
    }

    &:nth-child(1n) {
      border-top: rgba(147, 112, 216, 0.2) 1px solid;
    }

    &:last-child {
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
    }

    img {
      height: 2rem;
      margin-left: 2.5rem;
    }
  }
}

// Small Devices
// ---------------------------------------- //
@media screen and (max-width: 699px) {
  #cart-dropdown {
    top: 7rem;
    right: 5rem;
  }
}
