// Not Found
// ------------------------------------------------------------------- //
.notFound-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  .notFound-title {
    font-size: 3rem;
    font-weight: bold;
    opacity: 0.6;
    margin-bottom: 1rem;
  }
  .notFound-text {
    font-size: 1.2rem;
    opacity: 0.6;
  }
}
