// Image Upload Modal
// ------------------------------------------------------------------- //
#upload-modal-container {
  position: relative;
  height: max-content;
  width: max-content;
  background: #f4f7fb;
  z-index: 600;
  box-shadow: 5px 10px 30px -20px rgba(0, 0, 0, 0.5);
  margin-bottom: 10rem;
  top: 23rem;
  border-radius: 10px;
  overflow: hidden;

  .modal-header {
    display: flex;
    justify-content: space-between;
    padding-bottom: 1rem;
    padding-left: 4rem;
    padding-right: 4rem;
    align-items: center;
    height: 10rem;

    .modal-title {
      font-size: 2rem;
      font-weight: bold;
      color: #1a1a1a;
      opacity: 0.6;
    }

    img {
      mix-blend-mode: difference;
      opacity: 0.6;
      height: 1.4rem;
      cursor: pointer;
    }
  }

  .upload-form {
    padding: 3rem;

    .upload-image-container {
      display: flex;
      flex-direction: column;

      .upload-error {
        font-size: 1.2rem;
        color: white;
        background: #ff5a5f;
        margin-bottom: 2rem;
        padding-left: 2rem;
        padding-right: 2rem;
        height: 5rem;
        border-radius: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        img {
          height: 1rem;
          cursor: pointer;
        }
      }

      .image-preview {
        height: 50rem;
        width: 50rem;
        max-width: 60rem;
        background: #ebebeb;
        border-radius: 10px;
        position: relative;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;

        &.active {
          background: #1a1a1a;
        }

        .image-container {
          width: inherit;
          height: inherit;
          position: relative;

          & > img {
            object-position: center center;
            width: 100%;
            height: 100%;
            object-fit: contain;
          }

          .signature-wrapper {
            position: absolute;
            top: 0;
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;

            .signature-container {
              position: relative;

              img {
                position: absolute;
                height: 4rem;
                bottom: 1rem;
                right: 1rem;
              }
            }
          }

          .upload-icon {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            font-size: 1.2rem;
            color: rgba(26, 26, 26, 0.6);

            img {
              margin-bottom: 2rem;
              height: 6rem;
              cursor: pointer;
            }

            input[type="file"] {
              display: none;
            }
          }
        }
      }

      .upload-button {
        background-image: linear-gradient(
          45deg,
          #081c69 0%,
          #44159b 50%,
          #770fc6 100%
        );
        margin-top: 2rem;
        height: 5rem;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.2rem;
        color: white;
        text-align: center;
        border-radius: 10px;
        overflow: hidden;
        cursor: pointer;
        animation: fadeIn 0.6s;

        input[type="file"] {
          display: none;
        }
      }
    }

    .upload-options {
      margin-top: 2rem;
      margin-bottom: 4rem;
      display: flex;
      width: 50rem;

      .ratio-container {
        .option-title {
          font-size: 1.4rem;
          font-weight: bold;
          opacity: 0.6;
        }

        .supported-ratios-container {
          margin-top: 1rem;
          font-size: 1.2rem;
          opacity: 0.6;
        }
      }

      .signature-options {
        margin-left: 2rem;
        width: inherit;
        display: flex;
        flex-direction: column;
        align-items: flex-end;

        .option-title {
          font-size: 1.4rem;
          font-weight: bold;
          opacity: 0.6;
        }

        .signature-toggle {
          margin-top: 1rem;
          display: flex;

          input[type="radio"] {
            display: none;
          }
          input[type="radio"] + label {
            width: 4rem;
            height: 4rem;
            border-radius: 50%;
            overflow: hidden;
            margin-left: 2rem;
            border: hsl(0, 0%, 82%) 2px solid;
            cursor: pointer;
          }
          input[type="radio"]:checked + label {
            border: mediumpurple 2px solid;
          }

          label {
            .orgSig-button {
              background: #1a1a1a;
              width: 100%;
              height: 100%;
            }
            .invSig-button {
              background: #fafafa;
              width: 100%;
              height: 100%;
            }
          }
        }
      }
    }

    .form-navigation-container {
      display: flex;
      width: 100%;
      justify-content: space-between;
      margin-top: 2rem;
      font-size: 1.2rem;
      animation: fadeIn 0.6s;

      .back-button {
        height: 5rem;
        width: 100%;
        background: grey;
        color: white;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
      }
      .continue-button {
        margin-left: 2rem;
        height: 5rem;
        width: 100%;
        background-image: linear-gradient(
          45deg,
          #081c69 0%,
          #44159b 50%,
          #770fc6 100%
        );
        color: white;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
      }
    }

    .section-title {
      font-size: 1.6rem;
      font-weight: bold;
      padding-bottom: 1rem;
      border-bottom: 2px solid #ebebeb;
      margin-bottom: 2rem;
      opacity: 0.6;
    }

    .input-title {
      font-size: 1.2rem;
      // text-transform: uppercase;
      margin-bottom: 1rem;
      opacity: 0.6;
    }
    .input-field {
      background: #1a1a1a;
      border: none;
      min-height: 4rem;
      width: 100%;
      color: #fafafa;
      font-size: 1.4rem;
      padding: 1rem;
      border-radius: 10px;
      overflow: hidden;
    }

    .split-details-container {
      display: flex;
      justify-content: space-between;

      .title {
        width: 100%;
      }

      .location {
        width: 100%;
        margin-left: 4rem;
      }

      .tags {
        flex: 1;
        overflow: hidden;

        #tags-container {
          background: #1a1a1a;
          border: none;
          min-height: 4rem;
          width: 100%;
          color: #fafafa;
          font-size: 1.4rem;
          border-radius: 10px;
          overflow: auto;
          padding: 1rem;
          display: flex;

          .tag {
            background-image: linear-gradient(
              45deg,
              #081c69 0%,
              #44159b 50%,
              #770fc6 100%
            );
            border: none;
            width: max-content;
            height: 2rem;
            padding-left: 1rem;
            padding-right: 1rem;
            color: #fafafa;
            font-size: 1.2rem;
            border-radius: 10px;
            display: flex;
            align-items: center;
            margin-right: 1rem;
            cursor: pointer;
          }

          input {
            background: #1a1a1a;
            border: none;
            width: max-content;
            height: 2rem;
            padding: 1rem;
            margin-left: -1rem;
            color: #fafafa;
            font-size: 1.4rem;
            border-radius: 10px;
          }
        }
      }

      .price {
        flex: 1;
        margin-left: 4rem;
      }
    }

    .description {
      width: 100%;
      margin-top: 2.5rem;
      margin-bottom: 2.5rem;
      position: relative;

      .input-wrapper {
        height: 20rem;
        display: flex;
        flex-direction: column;

        .input-container {
          height: 100%;
          position: relative;

          &:hover {
            .info {
              opacity: 1;
              transition: opacity 0.4s ease;
            }
          }

          .info {
            position: absolute;
            top: 1.5rem;
            right: 2rem;
            width: 2rem;
            height: 2rem;
            border-radius: 50%;
            background-image: linear-gradient(
              45deg,
              #081c69 0%,
              #44159b 50%,
              #770fc6 100%
            );
            color: white;
            font-family: "Montserrat";
            font-size: 1rem;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: default;
            opacity: 0;
            transition: opacity 0.4s ease;
            z-index: 10;

            &:hover + .info-text {
              opacity: 1;
              transition: opacity 0.4s ease;
            }
          }

          .info-text {
            position: absolute;
            top: 1.5rem;
            right: 5rem;
            width: max-content;
            height: 2rem;
            padding-left: 1rem;
            padding-right: 1rem;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 10px;
            background-image: linear-gradient(
              45deg,
              #081c69 0%,
              #44159b 50%,
              #770fc6 100%
            );
            color: white;
            font-family: "Montserrat";
            font-size: 1rem;
            opacity: 0;
            transition: opacity 0.4s ease;
            z-index: 20;
            box-shadow: 5px 10px 30px -20px rgba(0, 0, 0, 1);
          }

          textarea {
            resize: none;
            height: 100%;
            border-radius: 10px;
            overflow: hidden;
          }
        }

        .textarea-counter {
          position: absolute;
          color: white;
          bottom: 2rem;
          right: 2rem;
        }
      }
    }

    .form-btn {
      display: flex;
      justify-content: center;
      background-image: linear-gradient(
        45deg,
        #081c69 0%,
        #44159b 50%,
        #770fc6 100%
      );
      border-radius: 10px;
      overflow: hidden;

      input {
        background: none;
        cursor: pointer;
      }
    }
  }
}

// Small Devices
// ---------------------------------------- //
@media screen and (max-width: 699px) {
  #upload-modal-container {
    .upload-form {
      padding: 2rem;
      .upload-options {
        width: 44rem;
        flex-direction: column;
        .signature-options {
          align-items: flex-start;
          margin-left: 0;
          margin-top: 2rem;

          .signature-toggle {
            input[type="radio"] + label {
              margin-left: 0;
              margin-right: 2rem;
            }
          }
        }
      }
      .form-section {
        .upload-image-container {
          .image-preview {
            width: 40rem;
            height: 40rem;
          }
        }
      }
    }
  }
}
