// Modals
// ------------------------------------------------------------------- //
.modal-container {
  position: fixed;
  width: calc(100%);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  z-index: 1000;
  display: flex;
  justify-content: center;
  font-family: "Montserrat";
  overflow: scroll;
  background-color: rgba(0, 0, 0, 0.4);
  padding-left: 3rem;
  padding-right: 3rem;

  &::-webkit-scrollbar {
    width: 0px; /* Remove scrollbar space */
    background: transparent; /* Optional: just make scrollbar invisible */
  }
}

// DP Modal
// ---------------------------------------- //
#DPModal-container {
  position: absolute;
  height: max-content;
  width: max-content;
  // padding: 2rem;
  background: #fafafa;
  z-index: 600;
  box-shadow: 5px 10px 30px -20px rgba(0, 0, 0, 1);
  font-family: "Montserrat";
  top: 10rem;
  margin-bottom: 10rem;
  border-radius: 10px;
  overflow: hidden;

  .upload-error {
    font-size: 1.2rem;
    color: white;
    background: rgb(181, 68, 68);
    margin-bottom: 2rem;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    img {
      height: 1rem;
      cursor: pointer;
    }
  }

  .DPModal-header {
    display: flex;
    justify-content: space-between;
    padding-bottom: 1rem;
    padding: 2rem;
    background-image: linear-gradient(
      -130deg,
      #5271c4 0%,
      #b19fff 50%,
      rgba(236, 161, 254, 1) 100%
    );

    .upload-title {
      font-size: 1.5rem;
      text-transform: uppercase;
      font-weight: bold;
      color: white;
    }
    img {
      height: 1.4rem;
      cursor: pointer;
    }
  }

  .uploadDP-form {
    display: flex;
    justify-content: space-between;
    padding: 2rem;

    .form-buttons {
      display: flex;
      flex-direction: column;

      .upload-button {
        background: #1a1a1a;
        padding: 2rem;
        padding-left: 4rem;
        padding-right: 4rem;
        text-transform: uppercase;
        font-size: 1.2rem;
        color: white;
        text-align: center;
        margin-bottom: 2rem;
        border-radius: 10px;
        cursor: pointer;

        input[type="file"] {
          display: none;
        }
      }

      .form-btn {
        background: #1a1a1a;
        padding: 1rem;
        padding-left: 4rem;
        padding-right: 4rem;
        text-transform: uppercase;
        font-size: 1.2rem;
        color: white;
        cursor: pointer;
        display: flex;
        justify-content: center;
        border-radius: 10px;
        input {
          background: none;
        }
      }
    }

    .image-preview {
      margin-left: 2rem;
      height: 30rem;
      width: 30rem;
      background: #1a1a1a;
      border-radius: 10px;
      overflow: hidden;

      img {
        object-position: center center;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}

.cropper-view-box {
  outline: 1px solid white !important;
  outline-color: mediumpurple !important;
}

.cropper-point {
  background-color: white !important;
}

// Small Devices
// ---------------------------------------- //
@media screen and (max-width: 699px) {
  #DPModal-container {
    .uploadDP-form {
      flex-direction: column-reverse;
      .form-buttons {
        margin-top: 2rem;
      }
      .image-preview {
        margin-left: 0;
      }
    }
  }
}

// Upload Image Modal
// ---------------------------------------- //
#upload-modal-container {
  position: relative;
  height: max-content;
  width: 54rem;
  background: #fafafa;
  z-index: 600;
  box-shadow: 5px 10px 30px -20px rgba(0, 0, 0, 1);
  margin-bottom: 10rem;
  top: 10rem;
  border-radius: 10px;
  overflow: hidden;

  .modal-header {
    display: flex;
    justify-content: space-between;
    padding-bottom: 1rem;
    padding: 2rem;
    background-image: linear-gradient(
      -130deg,
      #5271c4 0%,
      #b19fff 50%,
      rgba(236, 161, 254, 1) 100%
    );
    .modal-title {
      font-size: 1.5rem;
      text-transform: uppercase;
      font-weight: bold;
      color: white;
    }

    img {
      height: 1.4rem;
      cursor: pointer;
    }
  }

  .upload-error {
    font-size: 1.2rem;
    color: white;
    background: rgb(181, 68, 68);
    margin-bottom: 2rem;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    img {
      height: 1rem;
      cursor: pointer;
    }
  }

  .upload-form {
    padding: 2rem;

    .form-section {
      margin-bottom: 4rem;
      .upload-image-container {
        display: flex;
        flex-direction: column;
        .image-preview {
          height: 50rem;
          width: 50rem;
          max-width: 60rem;
          background: #1a1a1a;
          margin-bottom: 2rem;
          border-radius: 10px;
          position: relative;
          overflow: hidden;

          &:hover .signature-toggle {
            opacity: 1;
            transition: opacity 0.4s ease;
          }

          img {
            object-position: center center;
            width: 100%;
            height: 100%;
            object-fit: contain;
          }

          .signature-toggle {
            position: absolute;
            bottom: 2rem;
            right: 2rem;
            width: max-content;
            height: max-content;
            display: flex;
            opacity: 0;
            transition: opacity 0.4s ease;

            input[type="radio"] {
              display: none;
            }
            input[type="radio"] + label {
              display: flex;
              justify-content: center;
              align-items: center;
              width: 4rem;
              height: 4rem;
              border-radius: 10px;
              margin-left: 2rem;
              border: white 2px solid;
              cursor: pointer;
            }
            input[type="radio"]:checked + label {
              border: mediumpurple 2px solid;
            }

            label {
              img {
                height: 2rem;
                width: 2rem;
                object-position: center center;
                object-fit: cover;
              }
            }
          }
        }

        .upload-button {
          background: #1a1a1a;
          padding: 2rem;
          padding-left: 4rem;
          padding-right: 4rem;
          text-transform: uppercase;
          font-size: 1.2rem;
          color: white;
          text-align: center;
          margin-bottom: 2rem;
          border-radius: 10px;
          overflow: hidden;
          cursor: pointer;

          input[type="file"] {
            display: none;
          }
        }
      }

      .section-title {
        font-size: 1.5rem;
        text-transform: uppercase;
        font-weight: bold;
        padding-bottom: 1rem;
        border-bottom: 2px solid rgba(147, 112, 219, 0.24);
        margin-bottom: 2rem;
      }

      .input-title {
        font-size: 1.2rem;
        text-transform: uppercase;
        margin-bottom: 1rem;
      }
      .input-field {
        background: #1a1a1a;
        border: none;
        min-height: 4rem;
        width: 100%;
        color: #fafafa;
        font-size: 1.4rem;
        padding: 1rem;
        border-radius: 10px;
        overflow: hidden;
      }

      .split-details-container {
        display: flex;
        justify-content: space-between;

        .title {
          width: 100%;
        }

        .location {
          width: 100%;
          margin-left: 4rem;
        }

        .tags {
          flex: 1;
          overflow: hidden;

          #tags-container {
            background: #1a1a1a;
            border: none;
            min-height: 4rem;
            width: 100%;
            color: #fafafa;
            font-size: 1.4rem;
            border-radius: 10px;
            overflow: auto;
            padding: 1rem;
            display: flex;

            .tag {
              background: mediumpurple;
              border: none;
              width: max-content;
              height: 2rem;
              padding-left: 1rem;
              padding-right: 1rem;
              color: #fafafa;
              font-size: 1.2rem;
              border-radius: 10px;
              display: flex;
              align-items: center;
              margin-right: 1rem;
              cursor: pointer;
            }

            input {
              background: #1a1a1a;
              border: none;
              width: max-content;
              height: 2rem;
              padding: 1rem;
              margin-left: -1rem;
              color: #fafafa;
              font-size: 1.4rem;
              border-radius: 10px;
            }
          }
        }

        .price {
          flex: 1;
          margin-left: 4rem;
        }
      }

      .description {
        width: 100%;
        margin-top: 2.5rem;
        margin-bottom: 2.5rem;

        .input-wrapper {
          height: 20rem;
          display: flex;
          flex-direction: column;

          textarea {
            resize: none;
            height: 100%;
            border-radius: 10px;
            overflow: hidden;
          }
        }
      }
    }
    .form-btn {
      display: flex;
      justify-content: center;
      background-image: linear-gradient(
        -130deg,
        #5271c4 0%,
        #b19fff 50%,
        rgba(236, 161, 254, 1) 100%
      );
      border-radius: 10px;
      overflow: hidden;

      input {
        background: none;
        cursor: pointer;
      }
    }
  }
}

// Small Devices
// ---------------------------------------- //
@media screen and (max-width: 699px) {
  #upload-modal-container {
    width: 44rem;
    .upload-form {
      .form-section {
        .upload-image-container {
          .image-preview {
            width: 40rem;
            height: 40rem;
          }
        }
      }
    }
  }
}

// Role Change Modal
// ---------------------------------------- //
#role-change-modal-container {
  position: relative;
  height: max-content;
  width: 100%;
  max-width: 60rem;
  // padding: 2rem;
  background: #fafafa;
  box-shadow: 5px 10px 30px -20px rgba(0, 0, 0, 1);
  margin-top: 10rem;
  margin-bottom: 10rem;
  border-radius: 10px;
  overflow: hidden;
  z-index: 1000;

  .modal-header {
    display: flex;
    flex-direction: column;
    padding-bottom: 1rem;
    padding: 2rem;
    background-image: linear-gradient(
      -130deg,
      #5271c4 0%,
      #b19fff 50%,
      rgba(236, 161, 254, 1) 100%
    );

    .header {
      display: flex;
      justify-content: space-between;
      .modal-title {
        font-size: 1.5rem;
        text-transform: uppercase;
        font-weight: bold;
        color: white;
      }

      img {
        height: 1.4rem;
        cursor: pointer;
      }
    }
  }

  .header-text {
    padding: 2rem;
    font-size: 1.4rem;
    color: mediumpurple;
    text-align: center;
  }

  .role-change-form {
    width: 100%;
    padding: 2rem;

    .form-section {
      margin-bottom: 4rem;

      .section-title {
        font-size: 1.5rem;
        text-transform: uppercase;
        font-weight: bold;
        padding-bottom: 1rem;
        border-bottom: 2px solid rgba(147, 112, 219, 0.24);
        margin-bottom: 2rem;
      }

      .section-text {
        font-size: 1.2rem;
        opacity: 0.6;
        margin-bottom: 2rem;
      }

      .signature-border {
        width: 100%;
        border: #1a1a1a 2rem solid;
        border-radius: 10px;
        overflow: hidden;

        .signature-container {
          width: 100%;
          height: max-content;

          .sigCanvas {
            width: 100%;
            height: 40rem;
          }
        }
      }

      .signature-clear {
        background: #1a1a1a;
        padding: 1rem;
        padding-left: 4rem;
        padding-right: 4rem;
        text-transform: uppercase;
        font-size: 1.2rem;
        color: white;
        text-align: center;
        margin-top: 1rem;
        border-radius: 10px;
        overflow: hidden;
        cursor: pointer;
      }

      .input-wrapper {
        font-size: 1rem;
      }

      #checkmark {
        display: none;

        &:checked + .check svg {
          stroke: mediumpurple;

          path {
            stroke-dashoffset: 60;
            transition: all 0.3s linear;
          }

          polyline {
            stroke-dashoffset: 42;
            transition: all 0.2s linear;
            transition-delay: 0.15s;
          }
        }
      }

      .check {
        cursor: pointer;
        position: relative;
        margin: auto;
        width: 1.5rem;
        height: 1.5rem;
        left: 1.2rem;
        top: 0.4rem;
        margin-right: 3rem;

        &:hover::before {
          opacity: 1;
        }

        &:hover svg {
          stroke: mediumpurple;
        }

        &::before {
          content: "";
          position: absolute;
          top: -1.8rem;
          left: -1.25rem;
          width: 4rem;
          height: 4rem;
          border-radius: 50%;
          background: rgba(34, 50, 84, 0.03);
          opacity: 0;
          transition: opacity 0.2s ease;
        }
        svg {
          position: relative;
          z-index: 1;
          fill: none;
          stroke-linecap: round;
          stroke-linejoin: round;
          stroke: #c8ccd4;
          stroke-width: 1.5;
          transform: translate3d(0, 0, 0);
          transition: all 0.2s ease;

          path {
            stroke-dasharray: 60;
            stroke-dashoffset: 0;
          }

          polyline {
            stroke-dasharray: 22;
            stroke-dashoffset: 66;
          }
        }
      }
    }

    .form-btn {
      display: flex;
      justify-content: center;

      input {
        width: 100%;
        background-image: linear-gradient(
          -130deg,
          #5271c4 0%,
          #b19fff 50%,
          rgba(236, 161, 254, 1) 100%
        );
        cursor: pointer;
      }
    }
  }
}
