// Modals
// ------------------------------------------------------------------- //
.modal-container {
  position: fixed;
  width: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100vh;
  z-index: 1000;
  display: flex;
  justify-content: center;
  overflow-y: scroll;
  // background-color: rgba(0, 0, 0, 0.4);
  padding-left: 3rem;
  padding-right: 3rem;
  animation: fadeIn 0.6s;

  &::-webkit-scrollbar {
    width: 0px; /* Remove scrollbar space */
    background: transparent; /* Optional: just make scrollbar invisible */
  }
}

// Upload DP Modal
// ---------------------------------------- //
@import "./DPModal";

// Upload Image Modal
// ---------------------------------------- //
@import "./imageUploadModal";

// Role Change Modal
// ---------------------------------------- //
@import "./promoteModal";

// Upload Cover Modal
// ---------------------------------------- //
@import "./coverModal";
