// Modals
// ------------------------------------------------------------------- //
.modal-container {
  position: fixed;
  width: calc(100% - 6rem);
  top: 0;
  bottom: 0;
  left: 3rem;
  right: 0;
  height: 100%;
  z-index: 600;
  display: flex;
  justify-content: center;
  font-family: "Montserrat";
  overflow: scroll;

  &::-webkit-scrollbar {
    width: 0px; /* Remove scrollbar space */
    background: transparent; /* Optional: just make scrollbar invisible */
  }
}

// DP Modal
// ---------------------------------------- //
#DPModal-container {
  position: relative;
  height: max-content;
  width: max-content;
  padding: 2rem;
  background: #fafafa;
  z-index: 600;
  box-shadow: 5px 10px 30px -20px rgba(0, 0, 0, 1);
  font-family: "Montserrat";
  margin-top: 10rem;
  margin-bottom: 10rem;

  .upload-error {
    font-size: 1.2rem;
    color: white;
    background: rgb(181, 68, 68);
    margin-bottom: 2rem;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    img {
      height: 1rem;
      cursor: pointer;
    }
  }

  .DPModal-header {
    display: flex;
    justify-content: space-between;
    padding-bottom: 1rem;
    border-bottom: 2px solid rgba(147, 112, 219, 0.24);
    margin-bottom: 2rem;
    .upload-title {
      font-size: 1.5rem;
      text-transform: uppercase;
      font-weight: bold;
    }
    img {
      height: 1.4rem;
      cursor: pointer;
    }
  }

  .uploadDP-form {
    display: flex;
    justify-content: space-between;

    .form-buttons {
      display: flex;
      flex-direction: column;
      .upload-button {
        background: #1a1a1a;
        padding: 2rem;
        padding-left: 4rem;
        padding-right: 4rem;
        text-transform: uppercase;
        font-size: 1.2rem;
        color: white;
        text-align: center;
        margin-bottom: 2rem;
        cursor: pointer;

        input[type="file"] {
          display: none;
        }
      }

      .form-btn {
        background: #1a1a1a;
        padding: 1rem;
        padding-left: 4rem;
        padding-right: 4rem;
        text-transform: uppercase;
        font-size: 1.2rem;
        color: white;
        cursor: pointer;
        display: flex;
        justify-content: center;
      }
    }

    .image-preview {
      margin-left: 2rem;
      height: 30rem;
      width: 30rem;
      background: #1a1a1a;

      img {
        object-position: center center;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}

.cropper-view-box {
  outline: 1px solid white !important;
  outline-color: mediumpurple !important;
}

.cropper-point {
  background-color: white !important;
}

// Small Devices
// ---------------------------------------- //
@media screen and (max-width: 699px) {
  #DPModal-container {
    .uploadDP-form {
      flex-direction: column-reverse;
      .form-buttons {
        margin-top: 2rem;
      }
      .image-preview {
        margin-left: 0;
      }
    }
  }
}

// Upload Image Modal
// ---------------------------------------- //
#upload-modal-container {
  position: relative;
  height: max-content;
  width: max-content;
  padding: 2rem;
  background: #fafafa;
  z-index: 600;
  box-shadow: 5px 10px 30px -20px rgba(0, 0, 0, 1);
  margin-top: 10rem;
  margin-bottom: 10rem;

  .modal-header {
    display: flex;
    justify-content: space-between;
    padding-bottom: 1rem;
    border-bottom: 2px solid rgba(147, 112, 219, 0.24);
    margin-bottom: 2rem;
    .modal-title {
      font-size: 1.5rem;
      text-transform: uppercase;
      font-weight: bold;
    }

    img {
      height: 1.4rem;
      cursor: pointer;
    }
  }

  .upload-error {
    font-size: 1.2rem;
    color: white;
    background: rgb(181, 68, 68);
    margin-bottom: 2rem;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    img {
      height: 1rem;
      cursor: pointer;
    }
  }

  .upload-form {
    .form-section {
      margin-bottom: 4rem;
      .upload-image-container {
        display: flex;
        flex-direction: column;
        .image-preview {
          height: 50rem;
          width: 50rem;
          max-width: 60rem;

          background: #1a1a1a;
          margin-bottom: 2rem;

          img {
            object-position: center center;
            width: 100%;
            height: 100%;
            object-fit: contain;
          }
        }

        .upload-button {
          background: #1a1a1a;
          padding: 2rem;
          padding-left: 4rem;
          padding-right: 4rem;
          text-transform: uppercase;
          font-size: 1.2rem;
          color: white;
          text-align: center;
          margin-bottom: 2rem;
          cursor: pointer;

          input[type="file"] {
            display: none;
          }
        }
      }

      .section-title {
        font-size: 1.5rem;
        text-transform: uppercase;
        font-weight: bold;
        padding-bottom: 1rem;
        border-bottom: 2px solid rgba(147, 112, 219, 0.24);
        margin-bottom: 2rem;
      }

      .input-title {
        font-size: 1.2rem;
        text-transform: uppercase;
        margin-bottom: 1rem;
      }
      .input-field {
        background: #1a1a1a;
        border: none;
        min-height: 4rem;
        width: 100%;
        color: #fafafa;
        font-size: 1.4rem;
        padding: 1rem;
      }

      .split-details-container {
        display: flex;
        justify-content: space-between;

        .title {
          width: 100%;
        }

        .location {
          width: 100%;
          margin-left: 4rem;
        }

        .tags {
          width: 100%;
        }

        .price {
          width: 100%;
          margin-left: 4rem;
        }
      }

      .description {
        width: 100%;
        margin-top: 2.5rem;
        margin-bottom: 2.5rem;

        .input-wrapper {
          height: 20rem;
          display: flex;
          flex-direction: column;

          textarea {
            resize: none;
            height: 100%;
          }
        }
      }
    }
    .form-btn {
      display: flex;
      justify-content: center;
      background-image: linear-gradient(
        -130deg,
        #5271c4 0%,
        #b19fff 50%,
        rgba(236, 161, 254, 1) 100%
      );

      input {
        background: none;
        cursor: pointer;
      }
    }
  }
}

// Small Devices
// ---------------------------------------- //
@media screen and (max-width: 699px) {
  #upload-modal-container {
    .upload-form {
      .form-section {
        .upload-image-container {
          .image-preview {
            width: 40rem;
            height: 40rem;
          }
        }
      }
    }
  }
}

// Role Change Modal
// ---------------------------------------- //
#role-change-modal-container {
  position: relative;
  height: max-content;
  width: 100%;
  max-width: 60rem;
  padding: 2rem;
  background: #fafafa;
  z-index: 600;
  box-shadow: 5px 10px 30px -20px rgba(0, 0, 0, 1);
  margin-top: 10rem;
  margin-bottom: 10rem;

  img {
    height: 1.4rem;
    position: absolute;
    right: 2rem;
    cursor: pointer;
  }
  .modal-header {
    display: flex;
    flex-direction: column;
    align-items: center;

    .modal-title {
      font-size: 2rem;
      font-weight: bold;
      text-align: center;
      margin-bottom: 1rem;
    }

    .modal-subtext {
      font-size: 1.2rem;
      opacity: 0.6;
      text-align: center;
      margin-bottom: 4rem;
    }
  }

  .role-change-form {
    width: 100%;
    .form-section {
      margin-bottom: 4rem;

      .section-title {
        font-size: 1.5rem;
        text-transform: uppercase;
        font-weight: bold;
        padding-bottom: 1rem;
        border-bottom: 2px solid rgba(147, 112, 219, 0.24);
        margin-bottom: 2rem;
      }

      .section-text {
        font-size: 1.2rem;
        opacity: 0.6;
        margin-bottom: 2rem;
      }

      .signature-border {
        width: 100%;
        border: #1a1a1a 2rem solid;

        .signature-container {
          width: 100%;
          height: max-content;

          .sigCanvas {
            width: 100%;
            height: 40rem;
          }
        }
      }

      .signature-clear {
        background: #1a1a1a;
        padding: 1rem;
        padding-left: 4rem;
        padding-right: 4rem;
        text-transform: uppercase;
        font-size: 1.2rem;
        color: white;
        text-align: center;
        margin-top: 1rem;
        cursor: pointer;
      }

      .input-wrapper {
        font-size: 1rem;
      }

      .checkbox {
        margin-right: 1rem;
      }
    }

    .form-btn {
      display: flex;
      justify-content: center;

      input {
        background-image: linear-gradient(
          -130deg,
          #5271c4 0%,
          #b19fff 50%,
          rgba(236, 161, 254, 1) 100%
        );
        cursor: pointer;
      }
    }
  }
}
