// Header
// ------------------------------------------------------------------- //
.title-header {
  position: absolute;
  top: -3rem;
  display: flex;
  align-items: center;

  .header-subtitle {
    font-family: "Montserrat";
    font-size: 10pt;
    text-transform: uppercase;
  }
  .header-line {
    height: 1px;
    width: 50px;
    background: #1a1a1a;
    margin-left: 2rem;

    &::after {
      content: "";
      position: absolute;
      width: 8px;
      height: 8px;
      background: #1a1a1a;
      margin-top: -3px;
      margin-left: 50px;
      border-radius: 50%;
    }
  }
  .header-title {
    font-family: "Montserrat";
    font-size: 18pt;
    margin-left: 2rem;
  }
}

.header-back-arrow {
  position: absolute;
  top: -3rem;
  display: flex;
  align-items: center;
  cursor: pointer;
  img {
    height: 30px;
  }
  span {
    font-family: "Montserrat";
    font-size: 12pt;
    margin-left: 1rem;

    &:hover {
      color: mediumpurple;
    }
  }
}
