// Header
// ------------------------------------------------------------------- //
.title-header {
  position: absolute;
  top: 8rem;
  left: 20%;
  display: flex;
  align-items: center;

  .header-subtitle {
    font-family: "Montserrat";
    font-size: 1rem;
    text-transform: uppercase;
  }
  .header-line {
    height: 1px;
    width: 50px;
    background: #1a1a1a;
    margin-left: 2rem;

    &::after {
      content: "";
      position: absolute;
      width: 8px;
      height: 8px;
      background: #1a1a1a;
      margin-top: -3px;
      margin-left: 50px;
      border-radius: 50%;
    }
  }
  .header-title {
    font-family: "Montserrat";
    font-size: 1.8rem;
    margin-left: 2rem;
  }
}

.header-back-arrow {
  position: absolute;
  top: 8rem;
  left: 20%;
  display: flex;
  align-items: center;
  cursor: pointer;
  img {
    height: 2rem;
  }
  span {
    font-family: "Montserrat";
    font-size: 1.2rem;
    margin-left: 2rem;

    &:hover {
      color: mediumpurple;
    }
  }
}

// Small Devices
// ---------------------------------------- //
@media screen and (max-width: 699px) {
  .title-header {
    position: absolute;
    top: 9.5rem;
    left: 3rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    height: 6rem;

    .header-subtitle {
      font-size: 1.2rem;
      // font-weight: 300;
    }
    .header-line {
      display: none;
    }
    .header-title {
      margin-left: 0;
      font-size: 2rem;
      font-weight: 300;
    }
  }

  .header-back-arrow {
    position: absolute;
    top: 10rem;
    left: 3rem;
    display: flex;
    align-items: center;
    cursor: pointer;
    img {
      height: 2rem;
    }
    span {
      font-family: "Montserrat";
      font-size: 1.2rem;
      margin-left: 2rem;

      &:hover {
        color: mediumpurple;
      }
    }
  }
}
