// Alerts
// ------------------------------------------------------------------- //
.alert-container {
  position: absolute;
  font-family: "Montserrat";
  font-size: 1.4rem;
  text-transform: uppercase;
  width: 100%;
  padding: 3rem;
  padding-top: 1.5rem;
  z-index: 700;

  .alert {
    color: white;
    position: relative;
    width: 100%;
    text-align: center;
    padding: 1rem;
    border-radius: 40px;
    box-shadow: 5px 10px 30px -20px rgba(0, 0, 0, 0.5);
    margin-bottom: 1rem;

    &.danger {
      background: #ff7669;
    }
    &.success {
      background: #7fe283;
    }
    &.info {
      background: #54c9ff;
    }
    &.warning {
      background: #ffcb33;
    }
  }
}
